@theme {
  --color-surface-container-low: #f3f3f3;
  --color-error: #ba1a1a;
  --color-surface-container-high: #e8e8e8;
  --color-on-secondary-fixed-variant: #6d3a00;
  --color-on-tertiary-container: #5aa958;
  --color-on-background: #1a1c1c;
  --color-tertiary-container: #003909;
  --color-inverse-on-surface: #f0f1f1;
  --color-on-tertiary-fixed-variant: #005312;
  --color-surface-variant: #e2e2e2;
  --color-inverse-surface: #2f3131;
  --color-on-tertiary-fixed: #002204;
  --color-primary-fixed-dim: #bdc2ff;
  --color-primary-fixed: #e0e0ff;
  --color-secondary-fixed-dim: #ffb77a;
  --color-surface: #f9f9f9;
  --color-surface-container-highest: #e2e2e2;
  --color-inverse-primary: #bdc2ff;
  --color-surface-dim: #dadada;
  --color-on-surface: #1a1c1c;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed: #2e1500;
  --color-primary: #000666;
  --color-secondary-fixed: #ffdcc2;
  --color-surface-tint: #4c56af;
  --color-surface-container: #eeeeee;
  --color-on-tertiary: #ffffff;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #000767;
  --color-outline: #767683;
  --color-surface-bright: #f9f9f9;
  --color-secondary: #8f4e00;
  --color-tertiary: #002103;
  --color-on-primary-container: #8690ee;
  --color-secondary-container: #fe9832;
  --color-tertiary-fixed-dim: #88d982;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed-variant: #343d96;
  --color-tertiary-fixed: #a3f69c;
  --color-outline-variant: #c6c5d4;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-primary-container: #1a237e;
  --color-error-container: #ffdad6;
  --color-on-surface-variant: #454652;
  --color-background: #f9f9f9;
  --color-on-secondary-container: #683700;

  /* Spacing */
  --spacing-container-margin: 20px;
  --spacing-card-padding: 16px;
  --spacing-unit: 4px;
  --spacing-stack-gap: 12px;
  --spacing-gutter: 16px;

  /* Fonts */
  --font-body-md: Inter, sans-serif;
  --font-label-md: Inter, sans-serif;
  --font-label-sm: Inter, sans-serif;
  --font-headline-lg-mobile: Montserrat, sans-serif;
  --font-headline-md: Montserrat, sans-serif;
  --font-body-lg: Inter, sans-serif;
  --font-headline-lg: Montserrat, sans-serif;

  /* Font Sizes */
